<div class="col col-sm-11 col-md-11 col-lg-11">
    <h1 mat-dialog-title *ngIf="_data.projectId != null">{{ "EditProject" | localize }}</h1>
    <h1 mat-dialog-title *ngIf="_data.projectId == null">{{ "AddProject" | localize }}</h1>
</div>
<div class="col col-sm-1 col-md-1 col-lg-1">
    <mat-icon style="cursor: pointer" (click)="close(false)">cancel</mat-icon>
</div>
<div class="col col-sm-12 col-md-12 col-lg-12">
    <div class="container-fluid">
        <div class="row">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab [label]="'GeneralInformation' | localize">
                    <br />
                    <form autocomplete="off" #editCreateProjectModal="ngForm" [formGroup]="createEditProjectFormGroup" (ngSubmit)="save()">
                        <div class="col col-sm-10 col-md-10 col-lg-10">
                            <mat-form-field>
                                <input matInput
                                       name="Name"
                                       [placeholder]="'Name' | localize"
                                       [(ngModel)]="project.name"
                                       formControlName="name" />
                            </mat-form-field>
                        </div>
                        <div class="col col-sm-2 col-md-2 col-lg-2">
                            <mat-form-field>
                                <input matInput
                                       type="number"
                                       name="Duration"
                                       [placeholder]="'Duration' | localize"
                                       [(ngModel)]="project.duration"
                                       formControlName="duration" />
                            </mat-form-field>
                        </div>
                        <div class="col col-sm-12 col-md-12 col-lg-12">
                            <mat-form-field>
                                <textarea matInput
                                          name="Description"
                                          [placeholder]="'Description' | localize"
                                          [(ngModel)]="project.description"
                                          formControlName="description"
                                          rows="10"></textarea>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab [label]="'Activities' | localize" [disabled]="_data.projectId == null">
                    <br />
                    <form>
                        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <mat-form-field>
                                <input matInput
                                       [placeholder]="l('SearchByName')"
                                       [(ngModel)]="activitySelectBoxFilter"
                                       name="activitySelectBoxFilter"
                                       (ngModelChange)="filterActivityName()">
                            </mat-form-field>
                        </div>
                    </form>
                    <table class="table table-hover table-striped" [busy]="isTableLoading">
                        <thead>
                            <tr>
                                <th width="90%">{{ "Name" | localize }}</th>
                                <th width="10%">{{ "Actions" | localize }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor=" let activity of activityListFiltered">
                                <td>{{ activity.name }}</td>
                                <td>
                                    <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                        <mat-icon>menu</mat-icon>
                                    </button>
                                    <mat-menu #actionsMenu="matMenu">
                                        <button mat-menu-item (click)="createEditDialog(project.duration, _data.projectId, activity.id)">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{ "Edit" | localize }}</span>
                                        </button>
                                        <button mat-menu-item (click)="delete(activity.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>{{ "Delete" | localize }}</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button mat-mini-fab color="primary" class="pull-right" (click)="createEditDialog(project.duration, _data.projectId)">
                        <mat-icon>add</mat-icon>
                    </button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
<div class="col col-sm-12 col-md-12 col-lg-12">
    <div mat-dialog-actions align="end">
        <button mat-flat-button
                type="submit"
                (click)="save()"
                flex="15"
                color="primary"
                [disabled]="!editCreateProjectModal.form.valid || saving">
            {{ "Save" | localize }}
        </button>
    </div>
</div>
